.App {
  font-family: 'Roboto', sans-serif;;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #282c34;
  margin: 0 -16px;
  padding: 12px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: white;
  height: 60px;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 10px;
  padding-top: 30px;
  position: absolute;
}

#footerdiv {
  background-color: #282c34;
  color: white;
  font-size: 16px;
  margin: 0px -16px 0px -16px;

}